click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
llvmlite==0.34.0
MarkupSafe==1.1.1
numba==0.51.0
numpy==1.19.1
opencv-python==4.3.0.36
pygame==1.9.6
python-datamatrix==0.10.17
tabulate==0.8.7
Werkzeug==1.0.1
